# =========================
# Python
# =========================
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# =========================
# Node.js
# =========================
node_modules/
dist/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db