# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
.coverage.*

# Coverage
backend/.coverage

# Virtual Environments
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# Node
node_modules/
frontend/node_modules/